.about-logo {
	width: 300px;
	height:auto;
	float: left;
	padding-right: 10px;
}

.aboutcvu-info {
	font-size: 15px;
	line-height: 150%;
	text-align: justify ;
}

.about-title {
	font-weight:bold;
}

.values li {
	padding-bottom: 15px;
}

.link-info {
color: #7491a2;
font-weight: bold;
}

.ofsets {
	margin: 50px 0;
}

.payment {
	text-decoration:underline;
}