$header-bg: #607d8b;
$header-color-soc: #7491a2;

header {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  
  .header-top {
    margin: 10px 0;

    .logo .img-responsive {
      max-width: 100%;
      display: block;
      height: auto;
    }

    .header-title {
      h1 {
        text-transform: uppercase;
      }
    }
    .header-title h1, .header-title h2 {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      text-align: left;
      color: #7491a2;


    }

    .lang-soc {
      text-align: center;

      .social {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin: 15px 0 5px;

        .facebook {
          padding: 5px;

          .fa-facebook-square {
            color: #3b5998;
          }
        }

        .twitter {
          padding: 5px;

          .fa-twitter-square {
            color: #1da1f2;
          }
        }
      }

      .language {
        font-weight: 600;

        a {
          color: $header-color-soc;
          text-decoration: none;
        }
      }
    }



    @media (max-width: 768px) {
      display: none;
    }
  }



  .header-bottom {
    background: $header-bg;

    .header-menu {

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        > li {
          flex-grow: 1;

          > a {
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            padding: 8px 12px;
            text-align: center;
            transition: background-color 0.235s ease;

            &:hover {
              background-color: rgba(255,255,255, 0.3);
            }
          }
        }
      }

      @media (max-width: 767px) {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $header-bg;
        top: 245px;
        transform: translateX(100%);
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        top: 56px;
        background: $header-bg;

        ul {
          flex-direction: column;

            > li {
              text-transform: uppercase;
              border-bottom: 1px solid rgba(0, 0, 0, 0.3);
              font-size: 16px;
              padding: 0;
              background-color: $header-bg;

            a {
              display: block;
              padding: 20px 8px;
              color: #FFFFFF;
              background-color: $header-bg;
            }
          }
        }

        .bottom-menu {
          display: flex;
          justify-content: space-between;
        }


      }
    }

    .bottom-menu.show .header-menu {
      transform: translateX(0);
    }

    .header-search {
      text-align: right;

      .search-form {
        position: relative;

        .form-control {
          width: 100%;
          border-radius: 2px;
          color: #7491A1;
          padding: 4px 25px 4px 6px;
          appearance: none;
          box-shadow: none;
          border: 1px solid #9E9E9D;
          transition: all 0.235s ease;
        }

        .fa-search {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }



      @media (max-width: 767px) {
        margin-right: 1rem;
      }
    }

    .toggle {
      margin: 8px;
      padding: 8px;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 40px;
      display: flex;

      > span {
        display: block;
        height: 2px;
        background-color: #FFFFFF;
      }

      @media (min-width: 768px) {
        display: none;
      }

      @media (max-width: 767px) {
        .hidden-xs {
          display: none;
        }

        .visible-xs {
          display: block;
        }
      }
    }
  }
}
